@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Tangerine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --fonte01: 'Rubik Mono One', sans-serif;
    --fonte02: 'Tangerine', cursive;
    --fonte03: 'Pangolin', cursive;

    --cor01: rgb(246, 246, 249);
    --cor02: rgb(255, 207, 0);
    --cor03: #0070D1;
    --cor04: rgb(31, 32, 68);
    --cor05: rgb(255, 255, 255);
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    border: solid 2px black;   
}

header {
    border: solid 2px black ;
    margin:10px;
    padding: 10px;
}

nav {
    border: solid 2px black;
    margin: 5px;
    padding: 5px;
}

